{#
	/**
	* Plantilla Twig para página que muestra diferentes consultas a la base de datos
	*/
#}

<h2>USER LOAD: Obtener al usuario actual</h2>
<p>El usuario actual es: <strong>{{ nombre_usuario }}</strong></p>


<h2>COUNT: Obtener el total de nodos</h2>
<p>El total de los nodos del sistema es: <strong>{{ total_nodos }}</strong></p>


<h2>SELECT: Obtener los nid's y tipos de todos los nodos</h2>
<table>
	<thead>
		<tr>
			<th>Nid</th>
			<th>Tipo</th>
		</tr>
	</thead>
	{% if arreglo_select | length >= 0 %}
		
		<tbody>
			
			{% for elemento in arreglo_select %}	
			
				<tr>
					<td>{{ elemento[ 'nid' ] }}</td>
					<td>{{ elemento[ 'type' ] }}</td>
				</tr>
			
			{% endfor %}
			
		</tbody>
		
	{% endif %}
</table>


<h2>SELECT CON JOIN: Obtener los nid's, tipos y títulos de todos los nodos</h2>
<table>
	<thead>
		<tr>
			<th>Nid</th>
			<th>Tipo</th>
			<th>Título</th>
		</tr>
	</thead>
	{% if arreglo_join | length >= 0 %}
		
		<tbody>
			
			{% for elemento in arreglo_join %}	
			
				<tr>
					<td>{{ elemento[ 'nid' ] }}</td>
					<td>{{ elemento[ 'type' ] }}</td>
					<td>{{ elemento[ 'title' ] }}</td>
				</tr>
			
			{% endfor %}
			
		</tbody>
		
	{% endif %}
</table>


<h2>SELECT CON LIMIT: Obtener los nid's y títulos de todos los primeros dos nodos</h2>
<table>
	<thead>
		<tr>
			<th>Nid</th>
			<th>Título</th>
		</tr>
	</thead>
	{% if arreglo_limit | length >= 0 %}
		
		<tbody>
			
			{% for elemento in arreglo_limit %}	
			
				<tr>
					<td>{{ elemento[ 'nid' ] }}</td>
					<td>{{ elemento[ 'title' ] }}</td>
				</tr>
			
			{% endfor %}
			
		</tbody>
		
	{% endif %}
</table>


<h2>SELECT DE UN REGISTRO: Obtener el nid y título del último registro</h2>
<table>
	<thead>
		<tr>
			<th>Nid</th>
			<th>Título</th>
		</tr>
	</thead>
	{% if arreglo_uno | length >= 0 %}
		
		<tbody>
			<tr>
				<td>{{ arreglo_uno[ 'nid' ] }}</td>
				<td>{{ arreglo_uno[ 'title' ] }}</td>
			</tr>			
		</tbody>
		
	{% endif %}
</table>


<h2>SELECT DESPUÉS DE INSERT (ANTES DE UPDATE): Obtener registros de la tabla de pruebas</h2>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Texto</th>
			<th>Número</th>
		</tr>
	</thead>
	{% if arreglo_antes | length >= 0 %}
		
		<tbody>
			
			{% for elemento in arreglo_antes %}	
			
				<tr>
					<td>{{ elemento[ 'id' ] }}</td>
					<td>{{ elemento[ 'texto' ] }}</td>
					<td>{{ elemento[ 'numero' ] }}</td>
				</tr>
			
			{% endfor %}
			
		</tbody>
		
	{% endif %}
</table>


<h2>SELECT DESPUÉS DE UPDATE: Obtener registros de la tabla de pruebas</h2>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Texto</th>
			<th>Número</th>
		</tr>
	</thead>
	{% if arreglo_despues | length >= 0 %}
		
		<tbody>
			
			{% for elemento in arreglo_despues %}	
			
				<tr>
					<td>{{ elemento[ 'id' ] }}</td>
					<td>{{ elemento[ 'texto' ] }}</td>
					<td>{{ elemento[ 'numero' ] }}</td>
				</tr>
			
			{% endfor %}
			
		</tbody>
		
	{% endif %}
</table>
