{#
	/**
	* Plantilla Twig para en la que se incluye otro archivo
	*/
#}

<h2>Prueba de include</h2>

{% if ( var_template1 is not null ) %}
	<p>Variable 1 del template: <strong>{{ var_template1 }}</strong></p>
{% endif %}

{% include( 'template-include-hijo.html.twig' ) %}